@model IEnumerable<ClinicWebAPI.Models.Consultation>

@{
    ViewData["Title"] = "Consultations";
}

<h2>Consultations</h2>

<p>
    <a asp-action="CreateConsultation">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppointmentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doctor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <th>
                @Html.DisplayFor(modelItem => item.Id)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.AppointmentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patient.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Doctor.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditConsultation", new { id = item.Id }) |
                @Html.ActionLink("Delete", "DeleteConsultation", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
