@model IEnumerable<ClinicWebAPI.Models.Consultation>

@{
    ViewData["Title"] = "Consultations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Consultations</h2>

<script language="javascript" type="text/javascript">
    var uri = "ws://" + "localhost:1774/notifications";

    function connect() {
        socket = new WebSocket(uri);
        socket.onopen = function (event) {
            console.log("opened connection to " + uri);
        };
        socket.onclose = function (event) {
            console.log("closed connection from " + uri);
        };
        socket.onmessage = function (event) {
            appendItem(event.data);
            console.log(event.data);
        };
        socket.onerror = function (event) {
            console.log("error: " + event.data);
        };
    }

    connect();
    var list = document.createElement("ul");


    function appendItem(message) {
        var item = document.createElement("li");
        var list = document.createElement("ul");
        item.appendChild(document.createTextNode(message));
        list.appendChild(item);
        document.getElementById("notif").appendChild(list);
    }
</script>

<br />
<div id="notif"></div>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AppointmentDate)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppointmentDate)
            </td>
            <td>
                @Html.ActionLink("See patient's history", "PatientConsultations", new { id = item.Patient.Id }) 
            </td>
        </tr>
}
    </tbody>
</table>
